*
{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#head
{
    width:100%;
    height: 15vw;
    background-color: rgba(40, 40, 250, 0.781);
}
#body {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: fit-content;
}

#input
{
    width: 20vw;
    height: 3vw;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
    padding-left: 2%;
    background-color: white;
    margin-left: 40vw;
    margin-top: 2vw;
}
ul
{
    display: flex;
    list-style-type: none;
    margin-top: 4vw;
    margin-left: 30vw;
}
li
{
    margin-left: 4vw;
    position: relative;
}
li::before
{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom:-1px;
    left: 0px;
    transition: transform 300ms;
    transform-origin: right;
    transform: scaleX(0);
    background-color: rgb(36, 39, 71);

}
li:hover::before
{
    transform: scaleX(1);
    transform-origin: left;
    box-shadow: 0px 0px 5px 1px rgb(57, 61, 108);
}
.nv
{
    background-color: transparent;
    border: transparent 1px solid;
    cursor: pointer;
    font-size: 1.2vw;
}
#w1
{
    width: 120%;
    height: auto;
    background: url(e_commerce_Img/wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#back
{
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
    background-color: rgb(71, 69, 69);
    margin-top: -2vw;
    margin-left: 35vw;
}
#img
{
    width: 40vw;
    margin-top: -40vw;
    margin-left: 31vw;
}
#im_in_s3
{
    width: 40vw;
}
#disc
{
    position: relative;
    left:65vw;
    top: -30vw;
    font-size: 3vw;
    text-align: center;
    width: 12vw;
    color: greenyellow;
    
}
#price,
#img,
#disc,
#im_in_s3 {
        transition: all 0.5s ease-in-out;
}
#second_section
{
    width: 150vw;
    height: 30vw;
    background-color: white;
    rotate: 5deg;
    margin-top: -2vw;
    margin-left: -2vw;
}
#second_section *
{
    rotate: -1.2deg;
}
._icon
{

    width: 6.8vw;
}
#cont
{
    display: flex;
    width: fit-content;
    padding-top: 10vw;
    margin-left: 2vw;
    align-items: center;
}
.p_of_i
{
    margin-left: -2vw;
    width: 11vw;
    text-align: center;
    font-size: 1vw;
}
.h_fi
{
    margin-left: -2.5vw;
    font-size: 2vw;
}
.cont_of_log
{
    margin-left: 13vw;
}
#section_three
{
    width: 100%;
    height: fit-content;
    background-color: rgb(57, 61, 108);
    margin-top: -7vw;
}
.b_o_s3
{
    width: 2vw;
    height: 2vw;
    border-radius: 9px;
    outline: none;
    border: transparent 1px solid;
    cursor: pointer;
}
.size_b
{
    width: 4vw;
    height: 2vw;
    margin-top: 3vw;
    border-radius: 8px;
    outline: none;
    border: transparent 1px solid;
    margin-bottom: .5vw;
    font-size: 1vw;
}
.size_b:active
{
    background-color: black;
}
.imagesfor_persons
{
    width: 20vw;
    height: 30vw;
    margin-left: 6vw;
}
.title_of_photos
{
    width: fit-content;
    font-size: 3vw;
    padding-top: 10vw;
    margin-left: 6%;
}
.f_images
{
    width: 35vw;
    height: 30vw;
}
.fi_section
{
    display: flex;
}
#text_co
{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw 1vw 1vw 1vw;
    margin-top: -1vw;
    position: relative;
    z-index: 1;
}
#button
{
    border-radius: 8px;
    outline: none;
    border: 1px white solid;
    background-color: transparent;
    color: white;
    padding: 1vw 2vw;
    margin-top: 3vw;
    margin-left: 1.2vw;
    cursor: pointer;
    transition: all 300ms;
}
#button:hover
{
    background-color: white;
    box-shadow: 0px 0px 10px 2px white ;
    color: black;
}
#f_i
{
    position: relative;
    left: 30vw;
    transition: all 300ms;
}
#s_i
{
    position: relative;
    left: -30vw;
    transition: all 300ms;
}
.fi_section:hover #f_i
{
left: 0vw;
}
.fi_section:hover #s_i
{
left: 0vw;
}
#cont_of_soc
{
    display: flex;
    width: 15vw;
    height: 15vw;
   
    border-radius: 9px;
    margin-left: 45vw;
   
    margin-top: 5vw;
}
.soc_co
{
    background-color: blue;
    width: 5vw;
    height: 5vw;
    z-index: 1;
    margin-top: 30%;
    border-radius: 10px;
    transition: all 200ms;
}
#card
{
    width: 4vw;
    padding: 5vw;
    z-index: 2;
    margin-left: -15vw;
    background-color: black;
    transition: all 1.5s;
    border-radius: 9px;
}
#cont_of_soc:hover #card
{
  background: transparent;
  margin-left: -10vw;
  z-index: -2;
}
#text_of_card
{
    font-size: 2vw;
    z-index: 3;
    margin-left: -9vw;
    transition: all 1s;
    margin-top: 3.5vw;
    color: aliceblue;
}
#text_of_card pre
{
    transition: all 1s;
    
}
#cont_of_soc:hover #text_of_card,#cont_of_soc:hover #text_of_card pre
{
    color: transparent;
    z-index: -2;
}
#cont_of_soc:hover .soc_co
{
    margin-left: 1vw;
   
}
.soc_co:nth-child(1)
{
    background-color:white;
    transition: all 300ms;
}
.soc_co:nth-child(1) #face
{
   fill: blue ;
   margin-top: 1vw;
   margin-left: 1.5vw;
  
  
}
.soc_co:nth-child(1):hover
{
    background-color: rgb(43, 43, 251);
}
.soc_co:nth-child(1):hover #face
{

  fill: white;
  
}
.soc_co:nth-child(2)
{
   background-color: white;
   
}
.soc_co:nth-child(2) #whatsapp
{
    fill: green;
    margin-left: .7vw;
    margin-top: 1vw;
    width: 3vw;
}
.soc_co:nth-child(2) #whatsapp path
{
    fill: green;
}
.soc_co:nth-child(2):hover
{
    background-color: rgb(4, 160, 4);
}
.soc_co:nth-child(2):hover #whatsapp path
{
    fill: white;
}
.soc_co:nth-child(3) #linkd
{
    width: 3vw;
    margin-top: 1vw;
    margin-left: .7vw;
}
.soc_co:nth-child(3)
{
    background-color: white;
}
.soc_co:nth-child(3) #linkd path{
    fill: rgb(10,102,194);
}
.soc_co:nth-child(3):hover #linkd path{
    fill: white;
}
.soc_co:nth-child(3):hover
{
    background-color: rgb(10,102,194);
}
#cart
{
    background-color: transparent;
    border: 0px transparent solid;
    cursor: pointer;
    position: absolute;
    top: 6.5vw;
    left: 80vw;
}
svg path
{
    transition: all 600ms;
}

svg:hover path
{
    fill: rgb(236, 236, 247);
}
#cart
{
    width: 30vw;
    height: 30vw;
    background-color: aliceblue;
    position: absolute;
    top: 8vw;
    left: 69vw;
    border-radius: 8px;
    z-index: 1;
    scale: 0;
    overflow: scroll;
}
#cart_icon
{
   position: relative;
   left: 10vw;
   cursor: pointer;
}
:has(#checkbox:checked) #cart
{
    scale: 1;
}
#buy
{
    background-color: rgb(65, 254, 65);
    outline: none;
    cursor: pointer;
    padding: .5vw 1vw;
    border-bottom: 4px;
    border-style: solid;
    border-color: rgb(39, 39, 39);
    border-top: 0;
    border-right: 2;
    border-left: 0;
    margin-bottom: 1vw;
    margin-left: 90vw;
    transition: all 300ms;
}
#buy:active
{
    border-bottom: 0;
    margin-top: .2vw;
}
.image_item
{
    width: 20vw;
    margin-left: 5vw;
}
.price_items
{
    padding-left: 4vw;
}
.size{
    padding-left: 20vw;
    margin-top: -1.3vw;
}
.btn-delete
{
    background-color: transparent;
    outline: none;
    border: red 1px solid;
    border-radius: 8px;
    padding: .5vw 1vw;
    margin-left: 13vw;
    cursor: pointer;
    transition: all 800ms;
    margin-bottom: 2vw;
}
.btn-delete:hover
{
    background-color: red;
    box-shadow: 0px 0px 10px 2px rgb(254, 60, 60);
}